.container {
   margin: 0 auto;
   max-width: 1280px;
}

.products {
   
   &__list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 240px;

      li {
         width: calc(100% / 4);
         height: 350px;

         border: 0.2px solid rgba(0, 0, 0, 0.05);
         position: relative;
         overflow: hidden;

         .content-block {
            width: 100%;
            height: 100%;
            transform-origin: 100% 100%;
            transition: transform 350ms ease-in-out;
            padding: 20px;

            position: relative;
            overflow: hidden;
            cursor: pointer;
         }

         &:hover img {
            transform: scale(1.1);
         }

         &:hover h2 {
            transform: translate(-50%, 0);
            backdrop-filter: blur(10px);
         }

         &:hover p {
            transform: translate(0, 0);
            backdrop-filter: blur(10px);
         }

         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: 50% 50%;

            transition: transform 350ms ease-in-out;
         }

         img.action-img {
            transform: scale(0.8) translate(20%, 0);
         }

         h2 {
            width: 100%;
            font-size: 18px;
            padding: 10px;
            text-align: center;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            background-color: rgba(255, 255, 255, 0.6);

            transition:
               transform 350ms ease-in-out,
               backdrop-filter 350ms ease-in-out;
         }

         h2.title-action {
            transform: translate(-50%, 0);
            backdrop-filter: blur(10px);
         }

         p {
            display: block;
            width: 50%;
            font-size: 18px;
            padding: 10px;
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(0, 100%);
            background-color: rgba(120, 255, 170, 0.6);

            transition:
               transform 350ms ease-in-out,
               backdrop-filter 350ms ease-in-out;
         }

         p.price-action {
            transform: translate(0, 0);
            backdrop-filter: blur(10px);
         }

         & > span {
            width: 62%;
            padding: 10px;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: transform 350ms ease-in-out;
         }

         .stars {
            position: absolute !important;
            bottom: 50%;
            left: 12px;
            transform: translate(-100px, 50%);
            transition: transform 350ms ease-in-out;

            display: flex;
            flex-direction: column-reverse;
         }

         .stars.stars-action {
            transform: translate(0, 100px);
         }
      }
   }
}

.nav {
   &__list {
      width: 100%;
      display: flex;
      justify-content: space-between;

      li {
         width: calc(100% / 4);
         text-align: center;
         padding: 20px;
      }
   }
}

.blueviolet {
   background-color: blueviolet;
}

.greenyellow {
   background-color: greenyellow;
}

.orange {
   background-color: orange;
}

.cyan {
   background-color: cyan;
}

.dropzone {
   position: fixed;
   display: flex;
   justify-content: space-between;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 240px;
   padding: 20px;
   background-color: white;
   transition: transform 350ms ease-in-out , opacity 350ms ease-in-out;

   &__preview {
      height: 200px;
      // width: 50%;
      display: flex;
      justify-content: space-between;
      gap: 15px;

      img {
         width: 100%;
         height: 100%;
         object-position: 50% 50%;
         object-fit: contain;
      }
   }

   &__list {
      display: flex;
      align-items: center;
      // width: 50%; // height: 240px;
   }

   &__item {
      display: flex !important;
      justify-content: center;
      gap: 15px;
      // width: 100px;
      height: 100%;

      img {
         max-width: 20%;
         height: 100%;
         object-position: 50% 50%;
         object-fit: contain;
      }

      p {
         margin-top: 10px;
         // overflow-y: scroll;
      }
   }

   &__preview-info {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .slider-button {
      width: 200px;
      transition: background-color 350ms ease-in-out;
      background-color: rgb(236, 236, 236);

      &:hover {
         background-color: rgb(224, 224, 224);
      }
   }

   .custom-navigation {
      // position: absolute;
      // z-index: 5;
      // bottom: 0;
      // left: 21.3%;
      display: flex;
      // background-color: white;

      button {
         background-color: rgb(236, 236, 236);
         transition: 350ms ease-in-out;
         padding: 10px;

         &:hover {
            background-color: rgb(224, 224, 224);
         }
      }

      div {
         display: flex;
         align-items: center;
         background-color: rgb(236, 236, 236);
         width: 70px;
         justify-content: center;

         span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 22px;
            font-weight: 500;
            &:nth-of-type(1) {
               color: red;
               font-size: 32px;
            }

            &:nth-of-type(2) {
            }
         }
      }
   }
}

.dropzone.hidden {
   transform: translate(0, 100%);
   opacity: 0;
}
